.navbar {
    background-color: #000;
    border-bottom: 1px solid #d7d0cd;
    padding: 0;
    min-height: 100%;
    z-index: 1;
}
.navbar-toggler {
    border: none;
    color: #fff;
}
.navbar-toggler:hover:enabled, .navbar-toggler:focus:enabled{
    outline: none;
    box-shadow: none;
    background-color: var(--global-button-hover-bg-color);
    color: var(--global-button-hover-color);
}
.navbar-brand img {
    width: 180px;
    padding-left: 10px;
}
.nav-link {
    text-transform: uppercase;
    font-size: calc(var(--global-font-size) - 0.1em);
    font-weight: 300;
    letter-spacing: var(--global-letter-spacing);
    text-align: center;
    color: #fff;
}
.nav-link:hover {
    color: #fff;
}
.nav-link.active {
    font-weight: 400;
    color: #fff;
}
.navbar-nav {
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    gap: 2%;
}


.navbar-collapse {
    margin-top: 15px;
}