.card-form-app-container {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 1fr;
}

header {
    display: block;
}
header app-footer {
    display: none;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 35px;
}
main app-footer {
    display: block;
}


@media (min-width: 1024px) {

    .card-form-app-container {
        grid-template-columns: 280px auto;
        grid-template-rows: 1fr;
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 35px;
    }
    header app-footer {
        display: block;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    main app-footer {
        display: none;
    }

}