footer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: var(--global-letter-spacing);
    margin: 0;
}
