.nav-button {
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.fa-pencil {
    font-size: calc(var(--global-font-size) - 0.2em);
}

.btn-export-tooltip .tooltip-inner {
    background-color: #fff;
    font-size: calc(var(--global-font-size) - 0.1em);
    color: #000;
    width: fit-content;
}
.btn-export-tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #fff;
}
.btn-export-tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #fff;
}
.btn-export-tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #fff;
}
.btn-export-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #fff;
}


.spinner {
    width: 1em;
    height: 1em;
    border: 2px solid var(--global-primary-color);
    border-radius: 100%;
    border-right-color: #c0cdfb;
    animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}