.modal-body {
    padding: 20px;
    --modal-button-close-size: 1.3em;
    --modal-button-close-margin-top: calc(calc(var(--modal-button-close-size) - 0.9em) * -1);
    --modal-button-close-margin-right: calc(calc(var(--modal-button-close-size) + 0.3em) * -1);
    --modal-fa-mark-size: calc(var(--modal-button-close-size) - 0.5em);
}
.modal-body h6 {
    margin: 0;
    font-size: calc(var(--global-font-size) + 0.1em);
}
.modal-message{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-icon-group {
    position: relative;
    height: 100%;
    margin-top: 8px;
}
.input-icon-group input {
    font-size: var(--global-font-size);
    font-weight: var(--global-font-weight);
    height: 35px;
    padding-left: 40px;
    background-color: #eef1fe;
    color: #6472aa;
}
.input-icon-group > .btn-copy {
    position: absolute;
    left: 2px;
    height: 20px;
    top: 2px;
    border: none;
    font-size: 1.5em;
    background-color: transparent;
    color: #849be3 !important;
    transition: 0s all;
}
.input-icon-group > .btn-copy:active {
    transform: scale(0.9);
}


.text-error {
    font-size: var(--global-font-size);
    padding: 0;
    margin: 0;
}

.text-copy-success {
    min-height: 1.3em;
    display: flex;
    justify-content: center;
}
.text-copy-success p {
    font-size: calc(var(--global-font-size) - 0.2em) !important;
    margin: 0;
}
.text-copy-success .animate {
    color: #008000;
    width: fit-content;
    animation: text-copy-success 6s ease-out forwards;
}
@keyframes text-copy-success {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media (min-width: 768px) {

    .input-icon-group > .btn-copy {
        top: 1px;
    }

}



.button-close {
    position: absolute;
    right: var(--modal-button-close-margin-right);
    top: var(--modal-button-close-margin-top);
    width: var(--modal-button-close-size);
    height: var(--modal-button-close-size);
    border-radius: 100%;
    border: none;
    background-color: rgba($color: #e8e8e8, $alpha: 0.8);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-close .fa-xmark {
    font-size: var(--modal-fa-mark-size);
    font-weight: var(--modal-fa-mark-size);
}
.button-close:hover {
    background-color: #000;
    color: #fff;
}



.button-copy-tooltip {
    margin-top: 10px !important;
}
.button-copy-tooltip .tooltip-inner {
    background-color:#d2e6d0;
    color: #005d00;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
}
.button-copy-tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #d2e6d0;
}
.button-copy-tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color:#d2e6d0;
}
.button-copy-tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color:#d2e6d0;
}
.button-copy-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color:#d2e6d0;
}