form {
    width: 95%;
    margin: auto;
}

form > h1 {
    font-size: var(--global-font-size);
    font-weight: var(--global-font-weight);
    margin: 0.5em auto;
}

.audio-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn-check + .btn-audio {
    background-color: #6276eb;
    color: var(--global-tertiary-color);
    border: 1px solid #262c8c;
    border-radius: 3px;
    padding: 0.8em;
    opacity: 0.4;
}

.btn-audio h1 {
    font-size: calc(var(--global-font-size) - 0.1em);
    font-weight: var(--global-font-weight);
    margin: 0;
}

.btn-check:checked + .btn-audio, :not(.btn-check) + .btn-audio:active, .btn-audio:first-child:active, .btn-audio.active, .btn-audio.show {
    background-color: #3037a8;
    opacity: 1;
}


.waveform {
    width: 100%;
}
.waveform-group {
    display: grid;
    grid-template-columns: 2em auto;
    align-items: center;
    gap: 3%;
}
.waveform-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8em;
    height: 1.5em;
    background-color: #5262e7;
    color: #c0cdfb;
    border-radius: 5px;
    border: 1px solid #262c8c;
    font-size: calc(var(--global-font-size) - 0.1em);
}
.waveform-group .play::before {
    font-family: 'Font Awesome 6 Free';
    font: var(--fa-font-solid);
    content: '\f04b';
}
.waveform-group .pause::before {
    font-family: 'Font Awesome 6 Free';
    font: var(--fa-font-solid);
    content: '\f04c';
}
