form {
    width: 90%;
    margin: auto;
}

.form-label-sm {
    line-height: 1.5em;
    font-size: calc(var(--global-font-size) - 0.1em);
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 30vh;
    color: black;
    font-size: var(--global-font-size);
}

:host ::ng-deep .ck.ck-editor {
    display: flex;
    flex-direction: column-reverse;
}
:host ::ng-deep .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_se, .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sw, .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_smw, .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sme, .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_s {
    top: auto;
    bottom: 100%;
}

.ckeditor-message-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    font-size: var(--global-font-size);
    font-weight: var(--global-font-weight);
}

.ckeditor-message-group .message-count {
    white-space: nowrap;
    margin-bottom: 0.5em;
    font-size: calc(var(--global-font-size) - 0.1em);
}