.modal-container {
    padding: 10px;
    --modal-button-close-size: 1.2em;
    --modal-button-close-margin-top: calc(var(--modal-button-close-size) * -1);
    --modal-button-close-margin-right: calc(var(--modal-button-close-size) * -1);
    --modal-fa-mark-size: calc(var(--modal-button-close-size) - 0.5em);
}


.modal-message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--global-font-size);
}


.button-container {
    display: flex;
    justify-content: space-around;
}
.button-container button {
    padding: 5px 20px;
}


.modal-body .button-close {
    position: absolute;
    right: var(--modal-button-close-margin-right);
    top: var(--modal-button-close-margin-top);
    width: var(--modal-button-close-size);
    height: var(--modal-button-close-size);
    border-radius: 100%;
    border: none;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.modal-body .button-close .fa-xmark {
    font-size: var(--modal-fa-mark-size);
    font-weight: var(--modal-fa-mark-size);
}
.modal-body .button-close:hover {
    background-color: rgba($color: #e8e8e8, $alpha: 0.8);
    color: #000;
}
