<div class="about-container">
    <div class="about">
        <img src="../../../../../assets/images/logo.jpg" width="200px">
        <div>
            <h1>About</h1>
            <p>
                Hi!! Welcome to Alimurph Postcard. This mini website is a labor of love, allowing you to create personalized digital card for your loved ones, complete with heartfelt music and custom messages.  Thank you for visiting, and I hope you enjoy creating something meaningful.
            </p>
            <p class="m-0">~</p>
            <p>Alisha Kunder</p>
        </div>
    </div>
</div>